<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Blog full width</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>blog-full</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="blog-post" ng-repeat="article in news">
                <a href="#">
                    <div class="item-img-wrap">
                        <img ng-src="{{article.img}}" class="img-responsive" alt="workimg">
                        <div class="item-img-overlay">
                            <span></span>
                        </div>
                    </div>
                </a><!--work link-->
                <ul class="list-inline post-detail">
                    <li>by <a href="#">admin</a></li>
                    <li><i class="fa fa-calendar"></i> {{article.date | date: year}}</li>
                    <li><i class="fa fa-tag"></i> <a href="#" ng-repeat="tag in article.tags"> {{ tag }}</a></li>
                    <li><i class="fa fa-comment"></i> <a href="#">6 Comments</a></li>
                </ul>
                <h2><a href="#">{{article.title}}</a></h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
                </p>
                <p><a href="#/blog/{{article._id}}" class="btn btn-theme-dark">Read More...</a></p>
            </div><!--blog post-->

            <div class="text-center">
              <a href="#" class="btn btn-lg border-theme">More cool stuff</a>
            </div>
        </div><!--col-->
    </div><!--row for blog post-->
</div><!--blog full main container-->
<div class="divide60"></div>
