<div class="breadcrumb-wrap breadcrumb-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Shopping Cart</h4>
                <p>Find the best products in our store</p>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="home-shop.html">Shop</a></li>
                    <li>Shopping cart</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumb light-->
<div class="divide60"></div>

<div class="container shopping-cart-container">
    <div class="row">
        <div class="col-sm-8 margin30">
            <table class="table table-striped shopping-cart-table">
                <tbody><tr>
                        <th class="hidden-xs">

                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Q-ty
                        </th>
                        <th>
                            Total
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr>
                        <td class="hidden-xs">
                            <a href=""><img src="/public/shop-img/p-1.jpg" alt="" style="width:70px;height:70px;"></a>
                        </td>
                        <td>
                            <a href="#" title="">Ladies topa</a>
                        </td>
                        <td>
                            <form class="form">
                                <input type="number" class="input-sm" style="width: 60px;" min="1" max="25" value="1">
                            </form>
                        </td>
                        <td>
                            $39.99
                        </td>
                        <td>
                            <a href=""><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">
                            <a href=""><img src="/public/shop-img/p-2.jpg" alt="" style="width:70px;height:70px;"></a>
                        </td>
                        <td>
                            <a href="#" title="">Lady bangles</a>
                        </td>
                        <td>
                            <form>
                                <input type="number" class="input-sm" style="width: 60px;" min="1" max="25" value="1">
                            </form>
                        </td>
                        <td>
                            $49.00
                        </td>
                        <td>
                            <a href=""><i class="fa fa-trash"></i> </a>
                        </td>
                    </tr>
                </tbody></table><!--cart table end-->

            <div class="row">
                <div class="col-sm-7">
                    <button class="btn border-black margin10">Continue Shopping <i class="fa fa-angle-right"></i></button>

                </div>
                <div class="col-sm-5 text-right">
                    <button class="btn border-black margin10">Update cart <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
            <hr>
            <div class="row margin40">
                <div class="col-sm-6">
                    <h3>Estimate Shipping &amp; Tax</h3>
                    <p>Enter your destination to get shipping &amp; tax</p>
                    <form novalidate="novalidate" method="post" action="#" id="contact_form">
                        <div class="margin20">
                            <label>Country <span class="text-danger">*</span></label>
                            <select class="form-control valid" aria-invalid="false">
                                <option>-- Select Option --</option>
                                <option>Country 1</option>
                                <option>Country 2</option>
                                <option>Country 3</option>
                                <option>Country 4</option>
                                <option>Country 5</option>
                            </select>
                        </div>
                        <div class="margin20">
                            <label>State/Province <span class="text-danger">*</span></label>
                            <select class="form-control valid" aria-invalid="false">
                                <option>-- Select Option --</option>
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                                <option>State 4</option>
                                <option>State 5</option>
                            </select>
                        </div>
                        <div class="margin20">
                            <label>Zip/Postal Code</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div>
                            <button class="btn btn-theme-dark" type="submit">Get A Quote</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
          <div class="text-center jumbotron">
              <p>Subtotal: $399</p>
                <p>Grand Total: $399</p>
                <p><a href="#" class="btn btn-lg btn-theme-bg">Proceed To Cheeckout <i class="fa fa-long-arrow-right"></i></a></p>

            </div>
        </div>
            </div>


        </div><!--cart col end-->
        <div class="col-sm-3 col-sm-offset-1 shop-sidebar">
            <div class="sidebar-box margin40">
                <h4>Get discount</h4>
                <form role="form" class="subscribe-form margin30">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Coupon Code">
                        <span class="input-group-btn">
                            <button class="btn  btn-theme-dark btn-lg" type="submit">Ok</button>
                        </span>
                    </div>
                </form>
                <div class="alert alert-success">
                    <i class="fa fa-check-circle"></i>
                    <strong>CODE-345TY</strong> - 20% Discount!
                </div>
                <div class="alert alert-danger">
                    <i class="fa fa-frown-o"></i>
                    Sorry, Invalid Coupon!
                </div>
            </div><!--sidebar-box-->

            <div class="sidebar-box margin40">
                <h4>Best sellers</h4>
                <ul class="list-unstyled popular-post">
                    <li>
                        <div class="popular-img">
                            <a href="#"> <img src="/public/shop-img/p-1.jpg" class="img-responsive" alt=""></a>
                        </div>
                        <div class="popular-desc">
                            <h5> <a href="#">lady topa</a></h5>
                            <h6><del>$230</del> $150</h6>
                        </div>
                    </li>
                    <li>
                        <div class="popular-img">
                            <a href="#"> <img src="/public/shop-img/p-2.jpg" class="img-responsive" alt=""></a>
                        </div>
                        <div class="popular-desc">
                            <h5> <a href="#">Gold bangles</a></h5>
                            <h6> $250</h6>
                        </div>
                    </li>
                    <li>
                        <div class="popular-img">
                            <a href="#"> <img src="/public/shop-img/p-3.jpg" class="img-responsive" alt=""></a>
                        </div>
                        <div class="popular-desc">
                            <h5> <a href="#">White blazer </a></h5>
                            <h6>$99</h6>
                        </div>
                    </li>
                </ul>
            </div><!--sidebar-box-->
            <div class="sidebar-box margin40">
                <h4>Tag Cloud</h4>
                <div class="tag-list">
                    <a href="#">Mens</a>
                    <a href="#">Womens</a>
                    <a href="#">jeans</a>
                    <a href="#">T-shirts</a>
                    <a href="#">Kids</a>
                    <a href="#">Offers</a>
                    <a href="#">Shoes</a>
                    <a href="#">Shirts</a>

                </div>
            </div>
        </div><!--cart sidebar end-->
    </div>
</div><!--cart container-->


<div class="divide60"></div>
