<div class="breadcrumb-wrap breadcrumb-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Product detail</h4>
                <p>Find the best products in our store</p>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="home-shop.html">Shop</a></li>
                    <li>Single product</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumb light-->
<div class="divide60"></div>

<div class="container">
    <div class="row">
        <div class="col-md-9 margin30">
            <div class="row">
                <div class="col-sm-5 margin30">
                    <div class="detail-img-col">
                        <a class="show-image" >
                            <img ng-src="{{product.img}}" alt="">
                        </a>
                        <div class="divide15"></div>
                        <a class="show-image detail-img-sm" ng-repeat="pic in product.images">
                            <img ng-src="{{ pic }}" alt="" class="img-responsive" ng-click="changeMainPic(pic)">
                        </a>

                    </div>
                </div><!--product detail img col end-->

                <div class="col-sm-7">
                    <div class="detail-content-right">
                        <h3 class="title">
                            {{product.name}} <small>В наличии ? <span>{{checkAvailiable(product.available)}}</span></small>
                        </h3>
                        <ul class="list-inline rating-list">
                          <!-- TODO: реализовать рейтинг используя bootstrap.ui  -->
                            <li class="detail-price"> {{ product.price | currency }}</li>
                            <li><i class="fa fa-star yellow"></i></li>
                            <li><i class="fa fa-star yellow"></i></li>
                            <li><i class="fa fa-star yellow"></i></li>
                            <li><i class="fa fa-star gray"></i></li>
                            <li><i class="fa fa-star gray"></i></li>
                        </ul>
                        <p>
                          Краткий отзыв о товаре
                        </p>
                        <hr>
                        <ul class="list-unstyled product-feautres-list">
                            <li><i class="fa fa-check"></i> 100% оригинал</li>
                            <li><i class="fa fa-check"></i> made in Usa</li>
                            <li><i class="fa fa-check"></i> 30 day Money back</li>
                        </ul>
                        <hr>

                        <div class="add-cart">
                            <div class="input-group bootstrap-touchspin" style="">
                                <input type="text" class="form-control input-qty text-center" value="1">
                            </div><!--bootstrap touchspin end-->
                            <button class="btn btn-theme-bg">в корзину</button>
                        </div>
                        <hr>
                        <div class="product-cat-text">
                            <p><strong>Код:</strong> {{product._id}}</p>
                            <p><strong>Категория:</strong><a href="#"> {{product.category}}</a></p>
                            <p><strong>Тэги:</strong><a href="#" ng-repeat="tag in product.tags"> {{tag}}</a></p>                       </div>
                    </div>
                </div>
            </div><!--product details up end-->
            <hr>

            <!--review and details-->
            <div class="tabs" id="review">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': panel === 1}"><a ng-click="setPanel(1)">Описание</a></li>
                    <li ng-class="{'active': panel === 2}"><a ng-click="setPanel(2)">Отзывы</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <!--  tab-pane active -->
                    <div class="tab-pane" ng-class="{ 'active': panel === 1 }" id="home"  ng-model="panelOne">
                        <div class="tab-desc animated fadeInDown">

                            <h4>Описание товара</h4>
                               <p>{{ product.desc }}</p>
                            </p>
                        </div>

                    </div>
                    <div class="tab-pane" ng-class="{ 'active': panel === 2 }" id="profile" ng-model="panelTwo">
                        <div class="tab-desc animated fadeIn">
                            <div class="margin40">
                                <!-- <h5>1 review for Men's Check shirt</h5> -->
                                <div class="review-box">
                                  <div id="disqus_thread"></div>
                                  <script type="text/javascript">
                                      /* * * CONFIGURATION VARIABLES * * */
                                      var disqus_shortname = 'protzgroup';

                                      /* * * DON'T EDIT BELOW THIS LINE * * */
                                      (function() {
                                          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                      })();
                                  </script>
                                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                                </div><!--review box end-->
                            </div><!--div-->
                        </div>
                    </div>

                </div>
            </div>

            <!--review and details end-->

        </div><!--products list columns end-->
        <div class="col-md-3">
            <div class="sidebar-info-box">
                <div class="services-box wow animated fadeInUp animated">
                    <div class="services-box-icon">
                        <i class="fa fa-truck"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Бесплатная доставка</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                        </p>
                    </div>
                </div>
            </div><!--sidebar info box-->
            <hr>
            <div class="sidebar-info-box">
                <div class="services-box wow animated fadeInUp animated">
                    <div class="services-box-icon">
                        <i class="fa fa-gift"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>100% Оригинал</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                        </p>
                    </div>
                </div>
            </div><!--sidebar info box-->
            <hr>
            <div class="sidebar-info-box">
                <div class="services-box wow animated fadeInUp animated">
                    <div class="services-box-icon">
                        <i class="fa fa-clock-o"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>30 days money back</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                        </p>
                    </div>
                </div>
            </div><!--sidebar info box-->
        </div>
    </div>
    <!-- TODO: реализовать выборку сопутствующих товаров.  -->

    <div class="divide50"></div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="heading">С этим товаром покупают: </h3>
        </div>
        <div class="col-md-3 margin40">
            <div class="product-col">
                <a href="#/shop">
                    <img src="/public/shop-img/p-7.jpg" alt="" class="img-responsive">
                </a>
                <div class="product-desc-sh">
                    <h4><a href="#/shop">Mens Wears</a></h4>
                    <span>$928</span>
                    <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                </div>
            </div><!--products show col end-->
        </div><!--col sm 6-->
        <div class="col-md-3 margin40">
            <div class="product-col">
                <span class="sale-label">Sale</span>
                <a href="#/shop">
                    <img src="/public/shop-img/p-8.jpg" alt="" class="img-responsive">
                </a>
                <div class="product-desc-sh">
                    <h4><a href="#/shop">Formal Shoes</a></h4>
                    <span><del>$199</del> $149</span>
                    <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                </div>
            </div><!--products show col end-->
        </div><!--col sm 6-->
        <div class="col-md-3 margin40">
            <div class="product-col">
                <span class="sale-label">Sale</span>
                <a href="#/shop">
                    <img src="/public/shop-img/p-9.jpg" alt="" class="img-responsive">
                </a>
                <div class="product-desc-sh">
                    <h4><a href="#/shop">Canon Flash</a></h4>
                    <span><del>$199</del> $149</span>
                    <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                </div>
            </div><!--products show col end-->
        </div><!--col sm 6-->
        <div class="col-md-3 margin40">
            <div class="product-col">
                <span class="sale-label">Sale</span>
                <a href="#/shop">
                    <img src="/public/shop-img/p-10.jpg" alt="" class="img-responsive">
                </a>
                <div class="product-desc-sh">
                    <h4><a href="#/shop">Open shirts</a></h4>
                    <span><del>$199</del> $149</span>
                    <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                </div>
            </div><!--products show col end-->
        </div><!--col sm 6-->
    </div><!--related product-->
</div><!--shop columns container end-->


<div class="divide30"></div>
