<div class="box">
  <div class="box-header">
    <!-- tools box -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Добавить статью</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" action="/admin/blog/add" method="post" enctype="multipart/form-data">
        <div class="box-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Заголовок</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Title " name="title">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDate3" class="col-sm-2 control-label">Дата</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="inputDate3"  name="date">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputFile" class="col-sm-2 control-label">Фото</label>
            <div class="col-sm-10">
                <input type="file" id="exampleInputFile" name="blog_photo">
                <p class="help-block">Выберите фото для статьи</p>
            </div>
          </div>
          <div class="form-group">
            <label for="status" class="col-sm-2 control-label">
              Опубликовано ?
            </label>
            <div class="col-sm-10">
            <input type="checkbox" class="flat-red" id="status"  name="status"/>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <!-- /.box-footer -->
    </div>
    <div class="pull-right box-tools">
      <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
    </div><!-- /. tools -->
  </div><!-- /.box-header -->
  <div class="box-body pad">
      <textarea class="textarea" placeholder="Place some text here" name="text"
      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-default">Отмена</button>
    <button type="submit" class="btn btn-info pull-right">Создать</button>
  </div>
</form>
</div>
