<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form action="/admin/goods/add" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Имя товара: </label>
        <input type="text" class="form-control" placeholder="product name" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="price">Цена: </label>
        <input type="number" class="form-control" placeholder="цена $ 100.00" name="price" id="price">
      </div>
      <div class="form-group">
        <label for="sale">Распродажа ? </label>
        <input type="checkbox" name="sale" id="sale">
      </div>
      <div class="form-group">
        <label for="old_price">Старая цена: </label>
        <input type="number" class="form-control" placeholder="старая цена $ 99.00" name="old_price" id="old_price" disabled="">
      </div>
    <div class="form-group">
      <label for="category">Выбрать категорию: </label>
        <select class="form-control" name="category" id="category">
          <option value="backpack">Backpack</option>
          <option value="belts">Belts</option>
          <option value="citybag">Citybag</option>
          <option value="gloves">Gloves</option>
          <option value="wallet">Wallet</option>
        </select>
    </div>
    <div class="form-group">
      <label for="quantity">Количество: </label>
      <input type="number" class="form-control" placeholder="..." name="quantity" id="quantity" min="1" max="11">
    </div>
    <div class="form-group">
      <label for="availible">Доступно ?</label>
      <input type="checkbox" name="availible" id="availible" checked>
    </div>
    <div class="form-group">
      <label for="color">Цвет: </label>
      <input type="text" class="form-control" name="color" id="color" id="color" placeholder="Белый, черный, голубой ... ">
    </div>
    <div class="form-group">
      <label for="images">Еще фотографии</label>
        <input type="file" id="images" name="images[]" multiple>
        <p class="help-block">Выберите еще максимум 4 фото для продукта</p>
    </div>
    <div class="form-group">
      <label for="desc">Описание товара</label>
      <textarea name="description" rows="8" cols="40" id="desc" class="form-control" placeholder="Введите описание товара..."></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Тэги</label>
      <input type="text" id="tags" name="tags" placeholder="Введите теги" class="form-control">
    </div>
    <div>
      <button class="btn btn-block btn-success btn-lg" type="submit">Добавить товар</button>
    </div>
  </form>
    </div>
  </div>
</div>
<script>
$('#sale').bind('change', function () {
  if($(this).prop('checked') === true){
    $('#old_price').attr('disabled', false);
  } else {
    $('#old_price').attr('disabled', true);
  }
})
/* done*/
$('#quantity').bind('change', function () {
  if($(this).val() > 10) {
    alert('Вы уверены что товаров больше 10 ?');
  }
})
</script>
